<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="./styles/index.css" />
		<title></title>
	</head>
	<body>
		<article id="home">
			<div class="home">
				<h2>前端技术宅API文档</h2>
				<p>
					专为学习打造的api接口，基于koa框架，为<a
						href="https://www.ncxicn.cn"
						target="_blank"
						rel="noopener noreferrer"
						>前端技术宅网站(www.ncxicn.cn)</a
					>
					提供api服务。
					<img src="./img/equipment.svg" alt="" />
				</p>
				<span id="API">
					<span>浏览器设备：<%= Browser %></span>
					<span>操作系统：<%= os %></span>
					<span class="APIGen">
						<a
							href="https://www.yuque.com/docs/share/51cb241a-b717-4ec1-a883-e5ca22c706d9"
							target="_blank"
						>
							<img src="./img/api.svg" />API文档</a
						>
					</span>
				</span>
			</div>
			<div class="homebg">
				<img src="./img/home.png" alt="" />
			</div>
			<p class="support">网页由前端技术宅提供支持</p>
		</article>
	</body>
</html>
